.admin-container {
  display: flex;
  height: 100vh;
}

.admin-side-nav {
  width: 300px;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.admin-side-nav h2 {
  font-size: 1.5em;
}

.admin-side-nav a {
  text-decoration: none;
  color: #777;
}

.admin-side-nav a:hover {
  color: #444;
}

.admin-side-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.admin-side-nav li {
  margin-bottom: 10px;
}

.admin-main {
  padding: 20px;
  flex-grow: 1;
}
